body {
    background: black;
}

.container-fluid {
    text-align: center;
    height: 100vh !important;
    color: white;
}

.box {
    color: #21213E;
    margin: auto;
    border-radius: 10px;
    border: 1px solid black;
    width: 300px;
    padding: 100px;
}

.logo img {
    margin: auto !important;
    height: 200px;
  
}

input {
    color: white;
}
.title {
    font-size: 18px;
    color: white;
    text-align: center;
}

.white-color {
    color: white !important; 
}

.sucessful {
    padding-top: 100px;
}